* {
    margin: 0;
    padding: 0;
}
ul {
    margin-top: 78px;
    margin-bottom: 18px;
    margin-left: 315px;
}
li {
    display: inline-block;
    font-size: 15PX;
    margin-right: 100px;
}
a {
    color: grey;
    text-decoration: none;
}
a:hover {
    color: #03A9F4;
}
.card {
    display: inline-block;
     width: 420px; 
}
.menu {
    color: grey;
}
.cards {
    margin-left: 150px;
} 
.card:nth-child(2n+1){ 
    margin-right: 66px;
}
h3 {
    margin-top: 62px;
    margin-bottom: 32px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 16.09px;
    color: #B4AD9E;
}
img {
    width: 100%;
    height: 280px;
    margin-top: 70px;
}
img:hover {
    opacity: 0.75;
}
button {
    width: 165px;
    height: 60px;
    margin-bottom: 70px;
    margin-left: 510px;
    margin-top: 30px;
    font-family: Playfair Display, serif;
    font-size: 14px;
    font-weight: 400;
}
button:hover {
    color: white;
    background-color: #03a9f4;
}
h2 {
    margin-bottom: 40px;
    font-family: Playfair Display, serif;
    line-height: 16.09px;
    color: #626262;
    font-weight: normal;
}
p {
    font-family: Playfair Display, serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
    line-height: 18.66px;
    color: #626262;
}
