* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 60.83vw;
  justify-content: center;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: 55px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #95e1d3;
  font-weight: 400;
  line-height: 17.07px;
}

.logo {
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  margin-top: 17px;
justify-content: ;
}
.info-block {
display: flex;
align-items: center;
flex-direction: column;
}
.header {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 20px;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.headercontainer {
  margin-top: 130px;
}
li:hover {
  color: #f38181;
}
main {
display: flex;
justify-content: center;
}

.benefits {
  justify-content: stretch;
}

.benefit {
display: inline-block;
width: 275px;
margin-top: 100px;
margin-right: 50px;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
p {
width: 275px;
font-family: "Roboto", sans-serif;
font-size: 15px;
font-weight: 400;
color: #b6b6b6;
margin-top: 20px;
line-height: 22px;
}

.img-block {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}